{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <a class="btn btn-primary" href="/add_module">Add module</a>
    <a class="btn btn-primary" href="/">Students</a>
</div>
<p></p>

<table class="table text-center table-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Add words</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>

    {% for module in modules %}
    <tr>
        <th scope="col">{{ loop.index }}</th>
        <th scope="col">{{ module.name }}</th>
        <th scope="col">{{ module.description }}</th>
        <th scope="col"><a class="btn btn-primary" href="/add_word/{{module.id}}">Add</a></th>
        <th scope="col"><a class="btn btn-primary" href="/edit_module/{{module.id}}">Edit</a></th>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}