{% extends "base.html" %}
{% block content %}

<div class="text-center">
    <a class="btn btn-primary" href="/add_module">Добавить модуль</a>
    <a class="btn btn-primary" href="/">Ученики</a>
</div>
<p></p>

<table class="table text-center table-center">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Добавить слова</th>
        <th scope="col">Редактировать модуль</th>
    </tr>
    </thead>
    <tbody>

    {% for module in modules %}
    <tr>
        <th scope="col">{{ loop.index }}</th>
        <th scope="col">{{ module.name }}</th>
        <th scope="col">{{ module.description }}</th>
        <th scope="col"><a href="/add_word/{{module.id}}">Добавить</a></th>
        <th scope="col"><a href="/edit_module/{{module.id}}">Редактировать</a></th>
    </tr>
    {% endfor %}

    </tbody>
</table>


{% endblock %}