{% extends "base.html" %}
{% block content %}
<h1>Вопрос {{have_done}} из {{length}}</h1>
<br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.answer.label }}<br>
        {{ form.answer(class="form-control") }}
        {% for error in form.answer.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p class="t">Буквы этого слова: <b>{{word['changed_word']}}</b></p>
    <p class="t">Перевод этого слова: <b>{{word['translation']}}</b></p>
    <br>
    <div>
        {{ form.submit(type="submit", class="btn btn-primary") }}
        <a class="btn btn-primary" href="/">Вернуться</a>

    </div>

</form>

{% endblock %}